.comment-details{
    display: flex;
    flex-direction: column;
    background:aliceblue;
    border-radius: 5px;
    padding: 2rem 1rem;
    gap: 1rem;
    max-width: 80%;
}

.comment-details > p{
    text-align: center;
}

.actions{
    display: flex;
    justify-content: center;
    align-items: center;
}