.App {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  margin: 1rem auto;
}

@media screen and (max-width: 998px) {
  .App {
    padding: 1rem;
    max-width: 100%;
  }
}